body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#mainMap  {
  width: auto;
  height: 100%;
}
#bot-button-wrapper {
  position: relative;
  margin: 0 auto;
  width: 95%;
}
#bot-options-wrapper {
  position: relative;
  top : 14px;
  height:50%;
  width: 95%;
}
#main-wrapper {
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  width: 100%;
}
.invis{
  display : none;
}
.vis{
  display : block;
}
.button-circle {
  position:relative;
  z-index: 1000;
  width: 70px;
  height: 70px;
  font-size: 24px;
  border-radius: 50%;
  text-align:center;
  line-height:300%;
  background-color: #EDF5E1;
  color: #1A1A1D;
}
.button-option {
  position:relative;
  z-index: 1000;
  width: 40px;
  height: 40px;
  font-size: 18px;
  margin: 10px;
  border-radius: 50%;
  text-align:center;
  line-height:220%;
  background-color: #EDF5E1;
  color: #1A1A1D;
}
.button-circle-locate {
  position:absolute;
  top: 78px;
  left: 12px;
  z-index: 1000;
  width: 28px;
  height: 28px;
  font-size: 12px;
  line-height:245%;
  border-radius: 14px;
  text-align:center;
  background-color: #EDF5E1;
  color: #1A1A1D;
}
.btn-left{
  float:left;
}
.btn-right{
  float:right;
}
.slider {
  width: 100%;
  height: 15px;
}

.centeredText {
  display:block;
  text-align:center;
}
}
